.inputCard {
  background: #fff9eb;
  background: linear-gradient(329deg, #fff9eb 18%, #dbf2ff 77%);
  background: -moz-linear-gradient(329deg, #fff9eb 18%, #dbf2ff 77%);
  background: -webkit-linear-gradient(329deg, #fff9eb 18%, #dbf2ff 77%);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px #e8e8e8;

  @apply m-8;
  @apply overflow-scroll;

  height: 40vh;
}

.resultCard {
  background: linear-gradient(17deg, #f7fff7 16%, #f1fff3 73%);
  background: -moz-linear-gradient(17deg, #f7fff7 16%, #f1fff3 73%);
  background: -webkit-linear-gradient(17deg, #f7fff7 16%, #f1fff3 73%);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 4px #e8e8e8;

  height: 70%;

  @apply overflow-x-scroll;
  @apply overflow-y-hidden;
  @apply flex-auto;
}

.bg {
  background: #eaf7ca;
  background: linear-gradient(329deg, #eaf7ca 18%, #c5fac3 77%);
  background: -moz-linear-gradient(329deg, #eaf7ca 18%, #c5fac3 77%);
  background: -webkit-linear-gradient(329deg, #eaf7ca 18%, #c5fac3 77%);

  @apply flex;
  @apply space-x-8;
  @apply space-y-8;

  overflow-y: scroll;
}

.btn1 {
  background: #ccfbff;
  background: linear-gradient(329deg, #ccfbff 18%, #c2ffe3 77%);
  background: -moz-linear-gradient(329deg, #ccfbff 18%, #c2ffe3 77%);
  background: -webkit-linear-gradient(329deg, #ccfbff 18%, #c2ffe3 77%);
}

.btn2 {
  background: #ffccff;
  background: linear-gradient(329deg, #ffccff 18%, #ffc2c2 77%);
  background: -moz-linear-gradient(329deg, #ffccff 18%, #ffc2c2 77%);
  background: -webkit-linear-gradient(329deg, #ffccff 18%, #ffc2c2 77%);
}