@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #d4fff4 42%,#c7ffe0 64%);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #c5fff0 48%, #b4fdd8 64%);
}
::-webkit-scrollbar-track{
    background: rgba(158, 246, 158, 0.1);
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background: rgba(158, 246, 158, 0.2);
}