@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: calc(100vh - 64px);
  width: 100vw;
  max-width: 100%;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #d4fff4 42%, #c7ffe0 64%);
  border-radius: 10px;

  &:hover {
    background: linear-gradient(13deg, #c5fff0 48%, #b4fdd8 64%);
  }
}

$track-bg: rgba(158, 246, 158, 0);

::-webkit-scrollbar-track {
  background: $track-bg;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: $track-bg;
}