.homeBG1 {
    background: #fff1e0;
    background: linear-gradient(150deg, #fff1e0 18%,#cdebfa 77%);
    background: -moz-linear-gradient(150deg, #fff1e0 18%,#cdebfa 77%);
    background: -webkit-linear-gradient(150deg, #fff1e0 18%,#cdebfa 77%);
}